body {
      font-family: Arial, sans-serif;
      margin: 10px;
      padding: 10px;
      background-color: #cff1f7;
      border: 2px solid #333;
    }

    header {
      display: flex;
      align-items: center;
      background-color: #cff1f7;
      padding: 20px;
      border-bottom: 3px solid #333;
      
    }

    .profile img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
      
    
    }

    header h1 {
      margin: 0;
      font-size: 2em;
    }

    header h4 {
      margin: 5px 0 0 0;
      font-weight: normal;
    }
    .summary-hr {
      border: 0;
      max-height: 3px;
      width: 150px;
      border-top: 1px solid #100101;
      background-color: #110101;
      margin: 10px 0;
    }
    .summary-hr1 {
      border: 0;
      max-height: 3px;
      width: 250px;
      border-top: 1px solid #100101;
      background-color: #110101;
      margin: 10px 0;
    }

    .main-container,
    .cv-section {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; /* Row + column gap */
      justify-content: center;
      padding: 20px;
    }

    .box {
     /* border: 1px solid #333;*/
      padding: 20px;
     /* border-radius: 10px;*/
      background-color: #cff1f7;
      min-width: 250px;
      flex: 1;
      box-sizing: border-box;
      transition: transform 0.3s ease, box-shadow 0.3s ease;*/
    }

    .box:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    footer {
      text-align: center;
      padding: 10px;
      background-color: #cff1f7;;
      color: rgb(94, 87, 87);
    }

    a {
      color: #0000ee;
    }

    @media (max-width: 768px) {
      header {
        flex-direction: column;
        text-align: center;
      }

      .main-container,
      .cv-section {
        flex-direction: column;
      }
    }